<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="flamix_bitrix24ordersintegration_order_observer" instance="Flamix\Bitrix24OrdersIntegration\Observer\OrderObserver" />
    </event>
    <event name="controller_action_postdispatch">
        <observer name="flamix_bitrix24ordersintegration_page_observer" instance="Flamix\Bitrix24OrdersIntegration\Observer\PageObserver" />
    </event>
</config>
